// 네비게이션 부분
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='/') Menu
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
            // 첫 번째 home 페이지. active: 현재 페이지, 활성 링크 표시
            a.nav-link.active(aria-current='page', href='/') Home
        li.nav-item
            //login 페이지 active: 현재 페이지, 활성 링크 표시
            a.nav-link.active(aria-current='page', href='/login') Login
        li.nav-item
            // form 페이지
            a.nav-link(href='/signup') Sign up
        li.nav-item
            // myblog 페이지
            a.nav-link(href='/blog') My blog
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Something else here
          ul.dropdown-menu
            li
              // 친구추가
              a.dropdown-item(href='/friends_list') 친구목록
            li
              // 멸종 위기종 추가하는 페이지
              a.dropdown-item(href='/submit') 멸종위기종 추가 
            li
              // 메뉴 내에서 메뉴 항목 간에 수평 구분선을 생성
              hr.dropdown-divider 
            li
              // 강아지 소개 페이지
              a.dropdown-item(href='/mypet') 반려동물
      form.d-flex()
        if user 
          a(href="/logout") Logout
      
